<!-- Daily_Card -->

<section class="view_container_daily_about">

  <section class="nav_daily_about">
    <h1 class="title_daily_about">팀 늘카테</h1>
  </section>
  
  <section class="body_daily_about">
    <p class="intro_daily_about">늘어진 카세트 테이프를 만들고 있는 멤버들입니다.</p>
    test
    

  </section>
  
  <section class="ad_daily_about">
    <p class="logo_daily_about">늘어진<br>카세트<br>테이프</p>
  </section>

 

</section>

