<!-- Daily_Card -->

<section class="view_container_daily_about">

  <section class="nav_daily_about">
    <h1 class="title_daily_about">팀 늘카테</h1>
  </section>
  
  <section class="body_daily_about">
    <p class="intro_daily_about">늘어진 카세트 테이프를 만들고 있는 멤버들입니다.</p>
    
    <div class="member_pictures">
      <div class="member4">
        <div class="mem">
          <img class="mem_img" src="/assets/youngjin_black.png"></img>
          김영진
        </div>
        <div class="mem">
        <img class="mem_img" src="/assets/danbi_black.png"></img>
        정단비
        </div>
        <div class="mem">
          <img class="mem_img" src="/assets/guda_black.png"></img>
          구다은
        </div>
        <div class="mem">
          <img class="mem_img" src="/assets/youngjo_black.png"></img>
          
        </div>
        
      </div>
      <div class="member3">
        <div class="mem">
        <img class="mem_img" src="/assets/yeonjoo_black.png"></img>
        </div>
        <div class="mem">
        <img class="mem_img" src="/assets/youjeong_black.png"></img>
        </div>
        <div class="mem">
        <img class="mem_img" src="/assets/hyungnam_black.png"></img>
        </div>
        <div class="mem">
        
        </div>
      </div>
    </div>

  </section>
  
  <section class="ad_daily_about">
    <p class="logo_daily_about">늘어진<br>카세트<br>테이프</p>
  </section>

 

</section>

