<!-- Daily_Card -->

<section class="view_container_daily_about">

  <section class="nav_daily_about">
    <h1 class="title_daily_about">팀 늘카테</h1>
  </section>

  <section class="body_daily_about">
    <p class="intro_daily_about">늘어진 카세트 테이프를 만들고 있는 멤버들입니다.</p>

    <div class="member_pictures">
      <div class="member4">
        <div class="mem">
          <img class="mem_img" src="/assets/youngjin_black.png"></img>
          <span class="mem_name">권영진</span>
          <span class="mem_job">BACK & DEVELOP</span>

        </div>
        <div class="mem">
        <img class="mem_img" src="/assets/danbi_black.png"></img>
        <span class="mem_name">정단비</span>
        <span class="mem_job">FRONT & DESIGN</span>
        </div>
        <div class="mem">
          <img class="mem_img" src="/assets/guda_black.png"></img>
          <span class="mem_name">구다은</span>
          <span class="mem_job">FRONT & PUBLISH</span>
        </div>
        <div class="mem">
          <img class="mem_img" src="/assets/youngjo_black.png"></img>
          <span class="mem_name">박영조</span>
          <span class="mem_job">BACK & DEVELOP</span>
        </div>

      </div>
      <div class="member3">
        <div class="mem2" id="mem_formargin">
        <img class="mem_img" src="/assets/yeonjoo_black.png"></img>
        <span class="mem_name">송연주</span>
        <span class="mem_job">FRONT & PUBLISH</span>
        </div>
        <div class="mem2">
        <img class="mem_img" src="/assets/youjeong_black.png"></img>
        <span class="mem_name">노유정</span>
        <span class="mem_job">BACK & DEVELOP</span>
        </div>
        <div class="mem2" id="mem_formargin2">
        <img class="mem_img" src="/assets/hyungnam_black.png"></img>
        <span class="mem_name">김형남</span>
        <span class="mem_job">FRONT & DESIGN</span>
      </div>
    </div>

  </section>

  <section class="ad_daily_about">
    <p class="logo_daily_about">늘어진<br>카세트<br>테이프</p>
  </section>



</section>
