<div class="tape_form_container">

<form>

<div class="tape_title_container">
  <!-- <label for="tape_title"> -->
    제목 <br>
    <div class="input_title">
    <input class="form-control" name="input_title" type="text" placeholder="제목을 작성해주세요">
    </div>
  <!-- </label> -->
</div>

<div class="tape_img_container">
  <label for="tape_img">
    커버이미지 <br>
    <input class="img" type="file"></input>
  </label>
</div>

<div class="tape_filter_container">
  <label for="tape_filter">
    필터 <br>
  </label>
</div>

<div class="tape_music_container">
  <label for="tape_music">
    트랙 <br>
  </label>
</div>
<hr>

<div class="tape_record">
  <div class="tape_a">

    <label for="side_a">
      사이드 A <br>
    <div class="a_list_container">
      <input class="record_a" name="record_a" type="text" placeholder="곡을 녹음해주세요">
      <input class="record_a" name="record_a" type="text" placeholder="곡을 녹음해주세요">
      <input class="record_a" name="record_a" type="text" placeholder="곡을 녹음해주세요">
      <input class="record_a" name="record_a" type="text" placeholder="곡을 녹음해주세요">
      <input class="record_a" name="record_a" type="text" placeholder="곡을 녹음해주세요">
    </div>
  </label>
  </div>

  <div class="tape_b">
    <label for="side_b">
      사이드 B <br>
    <div class="b_list_container">
      <input class="record_b" name="record_b" type="text" placeholder="곡을 녹음해주세요">
      <input class="record_b" name="record_b" type="text" placeholder="곡을 녹음해주세요">
      <input class="record_b" name="record_b" type="text" placeholder="곡을 녹음해주세요">
      <input class="record_b" name="record_b" type="text" placeholder="곡을 녹음해주세요">
      <input class="record_b" name="record_b" type="text" placeholder="곡을 녹음해주세요">
    </div>
    </label>
  </div>
</div>

<button type="preview"> 미리보기 </button> <!-- preview (if needed) -->
<button type="submit" value="save"> 저장 </button>
</form>

</div>
