<head></head>

<div class="main_tape_container">

  <div class="main_title_container">
    <h1 class="main_title">카세트 테이프</h1>
  </div>

  <div class="total_tape">

    <div class="total_intro">
      <p>당신의 플레이리스트와 꼭 맞는 28개의 테이프를 준비했어요.</p>
    </div>

    <div class="total_tape_container">
      <div class="tape_1"></div>
      <div class="tape_1"></div>
      <div class="tape_1"></div>
      <div class="tape_1"></div>
      <div class="tape_1"></div>
      <div class="tape_1"></div>
      <div class="tape_1"></div>
      <div class="tape_1"></div>
      <div class="tape_1"></div>
      <div class="tape_1"></div>
      <div class="tape_1"></div>
      <div class="tape_1"></div>
      <!-- <div class="tape_1"></div> <div class="tape_1"></div> <div class="tape_1"></div> -->
    </div>
  </div>

  <div class="logo_03_container">
    <p class="logo_03_txt">늘어진<br>카세트<br>테이프</p>
  </div>

</div>
<!-- hover <div class="tape_contents"> </div> hover -->
