<head></head>

<div class="main_tape_container">

  <div class="main_title_container">
    <h1 class="main_title">카세트 테이프</h1>
  </div>

  <div class="total_tape">

    <div class="total_intro">
      <p>당신의 플레이리스트와 꼭 맞는 28개의 테이프를 준비했어요.</p>
    </div>

    <div class="total_tape_container">

      <!-- <!— 테이프 테마 —!> -->
      <div class="tape_theme_main">
        <!-- <!— 사용자가 업로드하는 커버 이미지 —> -->
        <img class="user_cover_main" src="/assets/cover_test.png">
        <!-- <!— 선택 블렌딩 —> -->
        <div class="blend_box_main"></div>
        <!-- <!— 선택 스킨 —> -->
        <img class="upload_tape_main" src="/assets/tapeskin_black.png">
        <!-- <!— 테이프 타이틀 —> -->
        <p class="tape_title_main">강건너 불구경</p>
      </div>


  <!-- 팝업 -->
  <a class="tape2_" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('tape2_fade').style.display='block'">
    <div class="tape_theme_main">
      <!-- <!— 사용자가 업로드하는 커버 이미지 —> -->
      <img class="user_cover_main" src="/assets/cover_test.png">
      <!-- <!— 선택 블렌딩 —> -->
      <div class="blend_box_main"></div>
      <!-- <!— 선택 스킨 —> -->
      <img class="upload_tape_main" src="/assets/tapeskin_purple.png">
      <!-- <!— 테이프 타이틀 —> -->
      <p class="tape_title_main">강건너 불구경</p>
    </div>
  </a>

  <div id="light" class="tape2_popup">

    <div class="tape_theme_main">
      <!-- <!— 사용자가 업로드하는 커버 이미지 —> -->
      <img class="user_cover_main" src="/assets/cover_test.png">
      <!-- <!— 선택 블렌딩 —> -->
      <div class="blend_box_main"></div>
      <!-- <!— 선택 스킨 —> -->
      <img class="upload_tape_main" src="/assets/tapeskin_purple.png">
      <!-- <!— 테이프 타이틀 —> -->
      <p class="tape_title_main">강건너 불구경</p>
    </div>

    <div class="title_paper"></div>
    <div class="title_paper_p"><p class="tape_title_main">강건너 불구경</p></div>
    <div class="cover_paper">
      <img class="user_cover_main" src="/assets/cover_test.png">
    </div>
    <div class="songlist_paper_A">
      <img class="back_btn" src="/assets/arrow_left1.png">
      <img class="forward_btn" src="/assets/arrow_right1.png">
      <p class="song1">레드벨벳 - 빨간맛</p>
        <button type="button" name="button" class="song1_recbtn">REC</button>
      <p class="song2">숀 - Way Back Home</p>
        <button type="button" name="button" class="song1_recbtn">REC</button>
      <p class="song3">방탄소년단 - Leave Me</p>
        <button type="button" name="button" class="song1_recbtn">REC</button>
      <p class="song4">아이유 - 가을아침</p>
        <button type="button" name="button" class="song1_recbtn">REC</button>
      <p class="song5">레드벨벳 - Power Up</p>
        <button type="button" name="button" class="song1_recbtn">REC</button>
    </div>
    <div class="songlist_paper_B">
      <p class="song6"></p>
        <button type="button" name="button" class="song1_recbtn">REC</button>
      <p class="song7"></p>
        <button type="button" name="button" class="song1_recbtn">REC</button>
      <p class="song8"></p>
        <button type="button" name="button" class="song1_recbtn">REC</button>
      <p class="song9"></p>
        <button type="button" name="button" class="song1_recbtn">REC</button>
      <p class="song10"></p>
        <button type="button" name="button" class="song1_recbtn">REC</button>
    </div>

    <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('tape2_fade').style.display='none'">닫기</a>

  </div>

  <div id="tape2_fade" class="black_overlay"></div>
  <!-- -->


      <div class="tape_theme_main">
        <img class="user_cover_main" src="/assets/cover_test.png">
        <div class="blend_box_main"></div>
        <img class="upload_tape_main" src="/assets/tapeskin_black.png">
        <p class="tape_title_main">강건너 불구경</p>
      </div>
      <div class="tape_theme_main">
        <img class="user_cover_main" src="/assets/cover_test.png">
        <div class="blend_box_main"></div>
        <img class="upload_tape_main" src="/assets/tapeskin_black.png">
        <p class="tape_title_main">강건너 불구경</p>
      </div>
      <div class="tape_theme_main">
        <img class="user_cover_main" src="/assets/cover_test.png">
        <div class="blend_box_main"></div>
        <img class="upload_tape_main" src="/assets/tapeskin_black.png">
        <p class="tape_title_main">강건너 불구경</p>
      </div>
      <div class="ttape_theme_main">
        <img class="user_cover_main" src="/assets/cover_test.png">
        <div class="blend_box_main"></div>
        <img class="upload_tape_main" src="/assets/tapeskin_black.png">
        <p class="tape_title_main">강건너 불구경</p>
      </div>
      <div class="tape_theme_main">
        <img class="user_cover_main" src="/assets/cover_test.png">
        <div class="blend_box_main"></div>
        <img class="upload_tape_main" src="/assets/tapeskin_black.png">
        <p class="tape_title_main">강건너 불구경</p>
      </div>
      <div class="tape_theme_main">
        <img class="user_cover_main" src="/assets/cover_test.png">
        <div class="blend_box_main"></div>
        <img class="upload_tape_main" src="/assets/tapeskin_black.png">
        <p class="tape_title_main">강건너 불구경</p>
      </div>
      <div class="tape_theme_main">
        <img class="user_cover_main" src="/assets/cover_test.png">
        <div class="blend_box_main"></div>
        <img class="upload_tape_main" src="/assets/tapeskin_black.png">
        <p class="tape_title_main">강건너 불구경</p>
      </div>
      <div class="tape_theme_main">
        <img class="user_cover_main" src="/assets/cover_test.png">
        <div class="blend_box_main"></div>
        <img class="upload_tape_main" src="/assets/tapeskin_black.png">
        <p class="tape_title_main">강건너 불구경</p>
      </div>
      <div class="tape_theme_main">
        <img class="user_cover_main" src="/assets/cover_test.png">
        <div class="blend_box_main"></div>
        <img class="upload_tape_main" src="/assets/tapeskin_black.png">
        <p class="tape_title_main">강건너 불구경</p>
      </div>
      <div class="tape_theme_main">
        <img class="user_cover_main" src="/assets/cover_test.png">
        <div class="blend_box_main"></div>
        <img class="upload_tape_main" src="/assets/tapeskin_black.png">
        <p class="tape_title_main">강건너 불구경</p>
      </div>

    </div>
  </div>

  <div class="logo_03_container">
    <p class="logo_03_txt">늘어진<br>카세트<br>테이프</p>
  </div>

</div>
<!-- hover <div class="tape_contents"> </div> hover -->
