<head>

</head>
<h1 class="main_title">카세트 테이프</h1>
  <section class="total_tape">
    <p class="total_intro">당신의 플레이리스트와 꼭 맞는 28개의 테이프를 준비했어요.</p>
    <div class="tape_1"></div>
    <div class="tape_1"></div>
    <div class="tape_1"></div>
    <div class="tape_1"></div>
    <div class="tape_1"></div>
    <div class="tape_1"></div>
    <div class="tape_1"></div>
    <div class="tape_1"></div>
    <div class="tape_1"></div>
    <div class="tape_1"></div>
    <div class="tape_1"></div>
    <div class="tape_1"></div>
    <div class="tape_1"></div>
    <div class="tape_1"></div>
    <div class="tape_1"></div>

</section>

<!-- hover
  <div class="tape_contents"> </div>

hover -->
