<head>

</head>

<body>

<div class="post_tape_container">

<div class="main_title_container">
<h1 class="main_title">카세트 테이프</h1>
</div>

  <div class="post_tape_section">

    <section id="post_tape_preview">
      <div class="tape_preview_box">
          테이프 미리보기
      </div>
    </section>

    <section id="post_tape_form">
      <%= render "tapes/form" %>
    </section>

  </div>

  <div class="logo_03_container">
    <p class="logo_03_txt">늘어진<br>카세트<br>테이프</p>
  </div>

</div>
</body>
