<head></head>

<body>

  <div class="post_tape_container">

    <div class="main_title_container">
      <h1 class="main_title">카세트 테이프</h1>
    </div>

    <div class="post_tape_section">
      <section id="post_tape_preview">
        <div class="tape_preview_box">

          <div id="tape_preview_div"></div>
          <div class="tape_preview_btns">
            <button type="button"onclick="changingBlack()">Black</button>
            <button type="button"onclick="changingGray()">Gray</button>
            <button type="button"onclick="changingOrange()">Orange</button>
            <button type="button"onclick="changingPink()">Pink</button>
            <button type="button"onclick="changingPurple()">Purple</button>
            <button type="button"onclick="changingSky()">Sky</button>
          </div>

            <script>
              function changingBlack() {
                  document.getElementById("tape_preview_div").style.backgroundImage = "url('/assets/tapeskin_black.png')";
              }
              function changingGray() {
                  document.getElementById("tape_preview_div").style.backgroundImage = "url('/assets/tapeskin_gray.png')";
              }
              function changingOrange() {
              document.getElementById("tape_preview_div").style.backgroundImage = "url('/assets/tapeskin_orange.png')";
              }
              function changingPink() {
              document.getElementById("tape_preview_div").style.backgroundImage = "url('/assets/tapeskin_pink.png')";
              }
              function changingPurple() {
              document.getElementById("tape_preview_div").style.backgroundImage = "url('/assets/tapeskin_purple.png')";
              }
              function changingSky() {
              document.getElementById("tape_preview_div").style.backgroundImage = "url('/assets/tapeskin_sky.png')";
              }
            </script>
        </div>

        <div class="btn_right">
        <%= image_tag "arrow-right.png"%>
      </div>
      </div>

      <div class="post_tape_form">
        <%= render "tapes/form" %>
      </div>

    </div>

    <div class="logo_03_container">
      <p class="logo_03_txt">늘어진<br>카세트<br>테이프</p>
    </div>

  </div>
</body>
