<style>
  .temporary_img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }
  img {
    margin: 0 auto;
    margin-top: 10rem;
  }
</style>

<div class="temporary_img">
  <%= image_tag("neulcatte_original.jpg", width: "50%", alt: "temporary_img") %>
</div>
<h2 style = "text-align: center"> 8월 24일, 당신의 감성을 녹음해주세요. </h2>
