<section id="profile">
  <img src="" alt="">
  <div class="nickname">늘카테 땅비</div>
  <div class="profile_edit_btn">프로필 수정</div>
  <div class="post_count">
    <p>테이프<div class="tape_count">5</idv></p>
    <p>데일리 뮤직<div class="daily_count">12</idv></p>
    <p>녹음<div class="rec_count">37</idv></p>
  </div>
  <div class="user_intr">늘어진 카세트 테이프에서 디자인과 프론트를 맡고 있는 땅비입니다.</div>
</section>

<section id="mypage_tap">

</section>
