<h1 class="posts_title">데일리 뮤직</h1>
  <div class="post_daily">
    <section class="post_daily_preview">
     <!-- 추가해야함 -->
    </section>

    <section class="post_daily_form">
      <form>
      <label for="title"> 제목: <input class="form-control" name="input_title" type="text" ></label>

      <label for="music"> 트랙: <input class="music" name="music" type="text"></label>

      <label for="daily_img"> 사진: <input class="img" type="file"></label><br>

      <label for="color"> 컬러: <input class="color" type="color"></label><br>

      <label for="contents"> 일기 <br><textarea class="text" type="text"></textarea></label><br>

      <button type="preview"> 미리보기 </button> <!-- preview (if needed) -->
      <button type="submit" value="save"> 저장 </button>
     </form>
    </section>
  </div>
