<h1 class="posts_title">카세트 테이프</h1>
  <div class="post_tape">
    <section class="post_tape_preview">
    <!-- 추가해야함 -->
    </section>

    <section class="post_tape_form">
      <form>
      <label for="title"> 제목 <input class="form-control" name="input_title" type="text" ></label>

      <label for="tape_img"> 사진 <input class="img" type="file"></label><br>

      <label for="img_filter"> 필터 </label><br>

      <label for="music"> 트랙 </label><br>

      <button type="preview"> 미리보기 </button> <!-- preview (if needed) -->
      <button type="submit" value="save"> 저장 </button>
      </form>
    </section>
  </div>
