// <!-- Daily_Card & Modal CSS-->

.view_container_daily_about {
    display: flex;
    flex-direction: row;

}
.nav_daily_about {
    width: 10vw;
    padding: 25vh 5vw;
}
.title_daily_about {
    margin: 6vh 4vw 4vh;
    width: 2vw;
    height: 25vh;
}
.nav_daily_about h1 {
    font-size: 2.2vw;
}
.intro_daily_about {
    width: 50vw;
    margin-top: 3vw;
    padding-left: 0.5vw;
    font-size: 1vw;
}

.body_daily_about {
    width: 400vw;
}
.member_pictures {
    margin-top: 3vw;
    // background-color: rgba($color: gray, $alpha: 0.2);
    font-family: 'Arita-buri-SemiBold';
    font-size: 0.8vw;
}

.member4 {
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6vh;
}
.member3 {
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // border: 1px solid red;
}
#mem_formargin {
    margin-left: 8vw;
}
#mem_formargin2 {
    margin-right: 8vw;
}
.mem {
    width: 14vw;
    height: 14vw;
    display: flex;
    flex-direction: column;
}
.mem2 {
    width: 14vw;
    height: 14vw;
    display: flex;
    flex-direction: column;
}
.mem_img {
    margin-left: 0.6vw;
    width: 12.4vw;
    height: 12.4vw;
}
.mem_name {
    margin-top: 1vw;
    display: block;
    text-align: center;
}
.mem_job {
    margin-top: 0.4vw;
    display: block;
    text-align: center;
}

.ad_daily_about {
    width: 20vw;
    padding: 73vh 5vw 6vh 12vw;
}
.logo_daily_about {
    width: 3vw;
    height: 7vh;
    font-size: 1vw;
}
