
// <!-- Daily_Card & Modal CSS-->

.view_container_daily_about {
    display: flex;
    flex-direction: row;
    
}
.nav_daily_about {
    width: 10vw;
    padding: 25vh 5vw;
}
.title_daily_about {
    margin: 6vh 4vw 4vh;
    width: 2vw;
    height: 25vh;
}
.nav_daily_about h1 {
    font-size: 2.2vw;
}
.intro_daily_about {
    width: 50vw;
    margin-top: 3vw;
    padding-left: 4vw;
    font-size: 1vw;
}

.body_daily_about {
    width: 400vw;
}
.member_pictures {
    margin-top: 4vh;
    // border: 1px solid blue;
    // background-color: rgba($color: gray, $alpha: 0.2);

}

.member4 {
    
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid red;
    margin-bottom: 6vh;    
}
.member3 {
    height: 30vh;
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    justify-content: space-between;  
}
.mem {
    width: 12vw;
    height: 12vw;
    border: 1px solid blueviolet;

}
.mem_img {
    width: 10vw;
    height: 10vw;
}
    
.ad_daily_about {
    width: 20vw;
    padding: 73vh 5vw 6vh 12vw;
}
.logo_daily_about {
    width: 3vw;
    height: 7vh;
    font-size: 1vw;
}




