
// <!-- Daily_Card & Modal CSS-->

.view_container_daily_about {
    display: flex;
    flex-direction: row;
    
}
.nav_daily_about {
    width: 10vw;
    padding: 25vh 5vw;
}
.title_daily_about {
    margin: 6vh 4vw 4vh;
    width: 2vw;
    height: 25vh;
}
.nav_daily_about h1 {
    font-size: 2.2vw;
}
.intro_daily_about {
    width: 50vw;
    margin-top: 3vw;
    padding-left: 4vw;
    font-size: 1vw;
}

.body_daily_about {
    width: 400vw;
}
    
.ad_daily_about {
    width: 20vw;
    padding: 73vh 5vw 6vh 12vw;
}
.logo_daily_about {
    width: 3vw;
    height: 7vh;
    font-size: 1vw;
}




