@import url("dailies.scss");
@import url("main.scss");
@import url("posts.scss");
@import url("tapes.scss");
@import url("my_pages.scss");
@import url("devise.scss"); /*--초기화--*/
@import url("about.scss");
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
html,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 박스 크기 초기화 */
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  /* 박스 모서리 초기화 */
}

fieldset,
img {
  border: 0 none;
}
// html {
//   -ms-text-size-adjust:none; /* IE에서 기기 회전시에 사용자가 확대하지 않아도 글씨 크기가 재조정되는 것을 예방. */
//   -webkit-text-size-adjust:none; /* iOS에서 기기 회전시에 사용자가 확대하지 않아도 글씨 크기가 재조정되는 것을 예방. */
//   -moz-text-size-adjust:none;
//   text-size-adjust:none;
// }
/*--초기화--*/
@font-face {
  font-family: 'Arita-buri-SemiBold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

header {
  width: 100vw;
  height: 7vw;
  background-image: url("navbg.png");
  object-fit: contain;
}

body {
  font-family: 'Arita-buri-SemiBold', serif;
}

.blank {
  width: auto;
  height: 2vw;
}

.main_nav {
  position: absolute;
  width: inherit;
  height: 5vw;
  border-top: 0.5px solid #979797;
  border-bottom: 0.5px solid #979797;

}

#main_nav,
.nav_container,
ul {
  height: inherit;
}

#main_nav {
  width: 60vw;
  margin-left: 19.6vw;
  margin-right: 20vw;
  font-size: 1vw;
}

ul.nav_ul{
  width: 56vw;
  margin: 0 2vw 0 2vw;
}

.nav_container {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.nav_logo a{
    width: 1.5vw;
    margin-right: 4.5vw;
  }

.nav_logotext{
  text-decoration: none;
  color: black;
}

.nav_item {
  text-decoration: none;
  list-style: none;
  color: #141212;
}

nav a#trigger {
  display: none;
}

.postbtn {
  background: none;
  opacity: 1;
  border: none;
  font-family: 'Arita-buri-SemiBold', serif;
  font-size: 1vw;
  cursor: pointer;
}

.post-menu {
  display: none;
  background-image: url("navbg.png"); // login-signup 페이지에서는 안보이게 수정 필요
}

.post-menu.show {
  display: inline-block;
  width: 100vw;
  height: 2vw;
  position: absolute;
  top: 5vw;
  left: 0;
  padding: 0.9vh 0 0.5vh 55.25vw;

  // font-size: 0.9vw;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
}

.post-menu-down {

  padding-right: 2vw;
  text-decoration: none;
  list-style: none;
  font-size: 1vw;
  color: #000000;
}

.show {
  display: inline-block;
}

.nav_logo {
  width: 1.5vw;
  //margin-right: 2.5vw;
}



/* MOBILE*/
@media all and (max-width : 768px) {
  header {
    width: 100vw;
    height: 6vw;
    background-image: url("navbg.png");
    object-fit: contain;
    // border: 1px solid red;
    // display:none;
    // border: 1px solid red;
  }
  
  body {
    font-family: 'Arita-buri-SemiBold', serif;
  }
  
  .blank {
    width: auto;
    height: 2vw;
    display: none;
  }
  
  .main_nav {
    position: absolute;
    width: inherit;
    height: 6vw;
    border-top: 0.5px solid #979797;
    border-bottom: 0.5px solid #979797;
    // border: 1px solid red;
  
  }
  
  #main_nav,
  .nav_container,
  ul {
    height: inherit;
  }
  
  #main_nav {
    width: 60vw;
    margin-left: 19.6vw;
    margin-right: 20vw;
    font-size: 1vw;
  }
  
  ul.nav_ul{
    width: 56vw;
    margin: 0 2vw 0 2vw;
  }
  
  .nav_container {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .nav_logo a{
      width: 1.5vw;
      margin-right: 4.5vw;
    }
  
  .nav_logotext{
    text-decoration: none;
    color: black;
  }
  
  .nav_item {
    text-decoration: none;
    list-style: none;
    color: #141212;
    display: none;
  }
  
  
  nav a#trigger {
    display: block;
    color: black;
    // border: 1px solid red;
    margin-top: 2vw;
    font-size: 4vw;
    text-decoration: none;

  }
  
  .postbtn {
    display: none;
    background: none;
    opacity: 1;
    border: none;
    font-family: 'Arita-buri-SemiBold', serif;
    font-size: 1vw;
    cursor: pointer;
  }
  
  .post-menu {
    display: none;
    background-image: url("navbg.png"); // login-signup 페이지에서는 안보이게 수정 필요
  }
  
  .post-menu.show {
    display: inline-block;
    width: 100vw;
    height: 2vw;
    position: absolute;
    top: 5vw;
    left: 0;
    padding: 0.9vh 0 0.5vh 55.25vw;
  
    // font-size: 0.9vw;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
  }
  
  .post-menu-down {
  
    padding-right: 2vw;
    text-decoration: none;
    list-style: none;
    font-size: 1vw;
    color: #000000;
  }
  
  .show {
    display: inline-block;
  }
  
  .nav_logo {
    width: 1.5vw;
    order: 1;
    //margin-right: 2.5vw;
  }

}
