@import url("dailies.scss");
@import url("main.scss");
@import url("posts.scss");
@import url("tapes.scss");
@import url("my_pages.scss");
@import url("devise.scss");

/*--초기화--*/
html, body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin:0; padding:0;
  outline:none;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; /* 박스 크기 초기화 */
  -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; border-radius:0;  /* 박스 모서리 초기화 */
}

fieldset,img { border:0 none; }

input, select, textarea, button { vertical-align:middle; }

html {
  -ms-text-size-adjust:none; /* IE에서 기기 회전시에 사용자가 확대하지 않아도 글씨 크기가 재조정되는 것을 예방. */
  -webkit-text-size-adjust:none; /* iOS에서 기기 회전시에 사용자가 확대하지 않아도 글씨 크기가 재조정되는 것을 예방. */
  -moz-text-size-adjust:none;
  text-size-adjust:none;
}

/*--초기화--*/

@font-face { font-family: 'Arita-buri-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff')
  format('woff'); font-weight: normal; font-style: normal; }

header{
  background-image: url('navbg.png');
  object-fit: contain;
}

body{
  font-family: 'Arita-buri-SemiBold', serif;
}


.blank{
  width: auto;
  height: 5vh;
}

.main_nav{
    width:auto;
    height: 10vh;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#main_nav, ul, .nav_container{
    height: inherit;
}

#main_nav{
    height: 100%;
    margin-left: 22vw;
    margin-right: 22vw;
    font-size: 1vw;
}

.nav_container
{
  ul{
    width: 58vw;
  }
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav_item{
    text-decoration: none;
    list-style: none;
    color: #000;
}

nav a#trigger{
    display: none;
}

.postbtn {
  background: none;
  opacity: 1;
  border: none;
  font-family: 'Arita-buri-SemiBold', serif;
  font-size: 1vw;
  cursor: pointer;
}

.post-menu {
    display: none;
    background-image: url('navbg.png');
// login-signup 페이지에서는 안보이게 수정 필요
}

.post-menu.show {
  width: 100vw;
  height: 4vh;
  position: absolute;
  top: 15vh;
  left: 0;
  padding: 0.9vh 0 0.5vh 41vw;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
}

.post-menu-down {
  padding-right: 3vw;
  text-decoration: none;
  list-style: none;
  font-size: 1vw;
  color: #000000;
}

.show {
  display:inline-block;
}




/* MOBILE*/

@media all and (max-width : 480px) {

    .blank{
        display:none;
    }


    .main_nav{
        width: auto;
        height: 4vh;
    }

    #main_nav{
        width: auto;
        height:inherit;
        margin-left: 0;
        margin-right: 0;
    }

    nav ul{
        display: none;
    }

    .nav_container{
        display: flex;
        flex-direction: column;
        height: auto;
        float: none;
        width: 100%;
        text-align: center;
    }


    .nav_item{
        display: block;
        float: none;
        width: 100%;
    }

    #trigger {
        width: inherit;
    }

    nav a {
        text-align: center;
        float: none;
    }


    nav a#trigger{
        display: block;
        width: inherit;
        height: 100%;
        position: relative;
    }

    nav a#trigger:after {
		content: "";
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}
