// <!-- Daily_Card & Modal CSS-->

a {
  cursor: pointer;
}

.view_container_daily {
<<<<<<< HEAD
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
=======
    display: flex;
    flex-direction: row;

>>>>>>> upstream/master
}

.nav_daily {
  width: 10vw;
  padding: 25vh 5vw;
}

.title_daily {
<<<<<<< HEAD
  margin: 6vh 4vw 4vh;
  width: 2vw;
  height: 25vh;
=======
    margin: 7vh 4vw 4vh;
    width: 2vw;
    height: 25vh;
>>>>>>> upstream/master
}

.nav_daily h1 {
  font-size: 2.2vw;
}

.intro_daily {
  width: 50vw;
  margin-top: 3vw;
  padding-left: 4vw;
  font-size: 1vw;
}

.body_daily {
  width: 400vw;
}

.daily_card_container {
  margin: 2vw 4vw;
  display: flex;
  flex-wrap: wrap;
}

.daily_card {
  width: 25%;
  height: 13vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5vw;
}

.daily_card_color {
  width: 1.8vw;
  background-color: yellow;
  border-top: 0.7px solid black;
  border-left: 0.7px solid black;
  border-bottom: 0.7px solid black;
}

.daily_card_title {
  margin: 0.7vw 0.4vw;
  font-size: 0.96vw;
}

.daily_card_img_box {
  border: 0.7px solid black;
  width: 9.6vw;
}

.daily_card_img {
  width: 100%;
  height: 100%;
}

.ad_daily {
  width: 20vw;
  padding: 73vh 5vw 6vh 12vw;
}

.logo_daily {
  width: 3vw;
  height: 7vh;
  font-size: 1vw;
}
// * The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 60%;
  /* Full width */
  height: 120%;
  /* Full height */
  margin: 10vw 12vw 0 20vw;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: white;
  /* Fallback color */
  background-color: rgba(255,255,255,0.7);
  /* Black w/ opacity */
}
/* Modal Content/Box */
.modal_container {
  // margin: 14vw 20.5vw; /* 15% from the top and centered */
  width: 57vw;
  /* Could be more or less, depending on screen size */
  height: 15vw;
  display: flex;
  font-family: 'Arita-buri-SemiBold', serif;
}

.daily_color_modal {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #ffffff;
  width: 2vw;
}

.daily_title_modal {
<<<<<<< HEAD
  margin: 1vw 0.4vw;
=======
    margin: 1vw 0.4vw;

>>>>>>> upstream/master
}

.daily_img_box_modal {
  // border: 0.5px solid  black;
  width: 10vw;
}

.daily_img_modal {
  border: 1px solid black;
  width: 100%;
  height: 99%;
}

.user_context_modal {
<<<<<<< HEAD
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  width: 22vw;
  background-image: url("daily_bgc.jpg");
  display: flex;
  flex-direction: column;
=======
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    width: 22vw;
    background-image: url(daily_bgc.jpg);
    display: flex;
    flex-direction: column;
>>>>>>> upstream/master
}

.daily_song_modal {
  font-size: 1.1vw;
  margin: 1vw 1vw 0.6vw;
  width: 14vw;
}

#rec_btn,
#rec_btn2 {
  position: absolute;
  margin-left: 18.8vw;
  margin-top: 0.92vw;
  width: 1.2vw;
  height: 1.2vw;
}

.daily_text {
  font-size: 0.9vw;
  line-height: 1.9vw;
  margin: 0 1vw 0.8vw;
  overflow: hidden;
  text-overflow: clip;
  height: 9vw;
}

.user_context_modal2 {
<<<<<<< HEAD
  border: 0.5px solid black;
  width: 22vw;
  background-image: url("daily_bgc.jpg");
  display: flex;
  flex-direction: column;
=======
    border: 0.5px solid black;
    width: 22vw;
    background-image: url(daily_bgc.jpg);
    display: flex;
    flex-direction: column;
>>>>>>> upstream/master
}

.daily_text2 {
  font-size: 0.9vw;
  line-height: 1.9vw;
  margin: 1vw 1vw 0.8vw;
  overflow: hidden;
  text-overflow: clip;
}

.by_user_nick_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 1vw;
  margin-bottom: 0.6vw;
  margin-right: 1vw;
  font-size: 0.9vw;
}

.daily_user_nick {
<<<<<<< HEAD
  margin-left: 0.4vw;
=======
    margin-left: 0.4vw;

>>>>>>> upstream/master
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  visibility: hidden;
}

.close:focus,
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
// .view .no {
//     background: #e9e9e9;
//     float: left;
//     padding: 20px;
//     margin: 5px;
//   }
//   .view .no:target {
//     color: #f63;
//   }
//   nav {
//     clear: both;
//   }
// dailies_new.html.erb에 적용될 css

.body_daily_new {
  width: 400vw;
}

.preview_container {
  margin: 2vw 0; //* 15% from the top and centered */
  // width: 55vw; /* Could be more or less, depending on screen size */
  // height: 13.8vw;
  display: flex;
  font-family: 'Arita-buri-SemiBold', serif;
  // border: 1px solid red;
  justify-content: center;
}

input,
label {
  display: block;
}

.post_daily_form {
  margin: 0 2.4vw 2vw 2.4vw;
  width: 56vw;
  display: flex;
  flex-direction: column;
  background-image: url("navbg.png");
  object-fit: fill;
  font-family: 'Arita-buri-SemiBold', serif;
  border: 0.5px solid #c8c4c4;
}
/// _form

.form_section_one {
<<<<<<< HEAD
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // border: 1px solid red;
  margin: 3vw 0 1vw;
  padding: 0 3vw;
  font-size: 2vw;
=======
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // border: 1px solid red;
    padding :2vw 2vw;

    font-size: 1.8vw;
>>>>>>> upstream/master
}

label.form_title {
  height: 5vw;
}

.form_title,
.form_track {
  margin-right: 5vw;
}

.form_dailyimg,
.form_title,
.form_track {
  width: 10vw;
}

.colorpicker,
.music_placeholder,
.textarea_box,
.title_placeholder {
  margin-top: 1vw;
}

.img_placeholder,
.music_placeholder,
.title_placeholder {
  width: 13vw;
}

input[placeholder].music_placeholder,
input[placeholder].title_placeholder {
  border: 0.07vw solid #787878;
  border-radius: 0.3vw;
  width: 15vw;
  height: 2.1vw;
  margin-top: 1vw;
  text-align: left;
}

.music_placeholder::-webkit-input-placeholder,
.title_placeholder::-webkit-input-placeholder {
  font-size: 1.3vw;
  color: #c8c4c4;
  letter-spacing: 0.15vw;
  padding: 0.3vw 0.5vw;
}

.tape_img_container {
  font-size: 1.2vw;
  margin-bottom: 3vw;
}

.input_img {
  border: 0.07vw solid #787878;
  border-radius: 0.3vw;
  width: 15vw;
  height: 2.1vw;
  margin-top: 1vw;
  cursor: pointer;
  font-size: 2vw;

  .img_placeholder {
    position: absolute;
    width: 15vw;
    font-size: 1.3vw;
    text-align: left;
    color: #c8c4c4;
    padding: 0.3vw 0.5vw;
    letter-spacing: 0.15vw;
    cursor: pointer;
  }
}

.form_dailyimg {
  font-size: 2vw;
}

.upload_dailyimg {
  display: none;
}
//
.form_section_two {
  margin-bottom: 4vw;
  padding: 0 3vw;
  font-size: 2vw;
}

.daily_color_btns {
  margin-top: 1.5vw;
  padding-left: 0.5vw;
  display: flex;
  justify-content: space-between;
  width: 35vw;
}

.daily_black_btn,
.daily_gray_btn,
.daily_orange_btn,
.daily_pink_btn,
.daily_purple_btn,
.daily_sky_btn,
.daily_yellow_btn,
.daily_mint_btn,
.daily_blue_btn {
  width: 2vw;
  height: 2vw; // border-radius: 50%;
  border-style: none;
  cursor: pointer;
}

.daily_black_btn {
  background-color: rgba(#000000, 0.7);
}

.daily_gray_btn {
  background-color: rgba(#8c8c8c, 0.7);
}

.daily_orange_btn {
  background-color: rgba(#ff9100, 0.7);
}

.daily_yellow_btn {
  background-color: rgba(#f0cb00, 0.7);
}

.daily_pink_btn {
  background-color: rgba(#ff3950, 0.7);
}

.daily_purple_btn {
  background-color: rgba(#34009e, 0.7);
}

.daily_mint_btn {
  background-color: rgba(#2fadad, 0.7);
}

.daily_blue_btn {
  background-color: rgba(#205cb8, 0.7);
}

.form_section_three {
  padding: 0 3vw;
  font-size: 2vw;
}

.textarea_box {
  margin-top: 2vw;
  margin-bottom: 0.5vw;
  width: 50vw;
}

textarea.textarea_box{
  padding: 1vw;
  border: 0.07vw solid #787878;
  border-radius: 0.5vw;
  background-image: url('navbg.png');
  object-fit: fill;
}

textarea[placeholder].textarea_box{
  font-family: 'Arita-buri-SemiBold', serif;
    font-size: 1.3vw;
    color: black;
}
<<<<<<< HEAD

.textarea_box::-webkit-input-placeholder{
  color: #c8c4c4;
}

.form_section_four {
  margin-bottom: 2vw;
  display: flex;
  justify-content: center;
}

#form_submit_btn {
  font-family: 'Arita-buri-SemiBold', serif;
  background-color: rgba(255,255,255,0.3);
  border: none;
  width: 5vw;
  height: 2vw;
  font-size: 1.2vw;
  cursor: pointer;
  margin-left: 43vw;
}
=======
>>>>>>> upstream/master
