
// <!-- Daily_Card & Modal CSS-->

a {
    cursor: pointer;
}

.view_container_daily {
    display: flex;
    flex-direction: row;
    
}
.nav_daily {
    width: 10vw;
    padding: 25vh 5vw;
}
.title_daily {
    margin: 6vh 4vw 4vh;
    width: 2vw;
    height: 25vh;
}
.nav_daily h1 {
    font-size: 2.2vw;
}
.intro_daily {
    width: 50vw;
    margin-top: 3vw;
    padding-left: 4vw;
    font-size: 1vw;
}

.body_daily {
    width: 400vw;
}
    
.daily_card_container {
    margin: 2vw 4vw;
    display: flex;
    flex-wrap: wrap;
}

.daily_card {
    width: 25%;
    height: 13vw;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5vw;

}
.daily_card_color {
    width: 1.8vw;
    background-color: yellow;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.daily_card_title {
    margin: 0.7vw 0.4vw;
    font-size: 0.96vw;
}
.daily_card_img_box {
    border: 1px solid black;
    width: 9.6vw;
}
.daily_card_img {
    width: 100%;
    height: 100%;
}


.ad_daily {
    width: 20vw;
    padding: 73vh 5vw 6vh 12vw;
}
.logo_daily {
    width: 3vw;
    height: 7vh;
    font-size: 1vw;
}



// * The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 120%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_container {
    margin: 14vw 20.5vw; /* 15% from the top and centered */
    width: 55vw; /* Could be more or less, depending on screen size */
    height: 13.8vw;
    display: flex;
    font-family: 'Arita-buri-SemiBold', serif;
}
.daily_color_modal {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: yellow;
    width: 2vw;
}
.daily_title_modal {
    margin: 1vw 0.4vw;
    
}
.daily_img_box_modal {
    // border: 0.5px solid  black;
    width: 10vw;
}
.daily_img_modal {
    border: 1px solid black;
    width: 100%;
    height: 99%;

}
.user_context_modal {
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    width: 21.5vw;
    background-image: url(daily_bgc.jpg);
    display: flex;  
    flex-direction: column;
}
.daily_song_modal {
    font-size: 1.1vw;
    margin: 1vw 1vw 0.6vw 1vw;
    width: 14vw;
}

#rec_btn,#rec_btn2 {
    position: absolute;
    margin-left: 18.8vw;
    margin-top: 0.92vw;
    width: 1.2vw;
    height: 1.2vw;
}

.daily_text {
    font-size: 0.9vw;
    line-height: 1.9vw;
    margin: 0vw 1vw 0.8vw 1vw;
    overflow: hidden;
    text-overflow: clip;
    height: 9vw;

}
.user_context_modal2 {
    border: 0.5px solid black;
    width: 21.5vw;
    background-image: url(daily_bgc.jpg);
    display: flex;  
    flex-direction: column;
}
.daily_text2 {
    font-size: 0.9vw;
    line-height: 1.9vw;
    margin: 1vw 1vw 0.8vw 1vw;
    overflow: hidden;
    text-overflow: clip;
}
.by_user_nick_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 1vw;
    margin-bottom: 0.6vw;
    margin-right: 1vw;
    font-size: 0.9vw;

}
.daily_user_nick {
    margin-left: 0.4vw;
    
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    visibility: hidden;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

// .view .no {
//     background: #e9e9e9;
//     float: left;
//     padding: 20px;
//     margin: 5px;
//   }
//   .view .no:target {
//     color: #f63;
//   }
//   nav {
//     clear: both;
//   }