.admit_bg_img {
    margin-top: -15vh;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(124deg, #b8b1b9, #d3bc93), url('bg.png');
    background-size: cover;
    background-blend-mode: hard-light;
}

.admit_container{
    background: rgba(255,255,255, 0.7);
    width: 30vw;
    height: 70vh;
    text-align: center;
    margin: 17vh 35vw 7.5vh 35vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admit_title{
    font-size: 1.3vw;
}

.admit_logo{
    margin-top: 1vw;
    width: 1.8vw;
    height: 4vw;
}

.form-inputs{
    width: 21.6vw;
    height: 18vh;
    font-size: 3vh;
    line-height: 4vh;
    margin-top: 2vw;
    margin-bottom: 4vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[placeholder].string.optional,
input[placeholder].password.optional,
input[placeholder].string.email.required,
input[placeholder].password.required{
  height: 2vw;
  border-bottom: solid 0.5px black;
}
.input, input[placeholder] {
    text-align: center;
    background: transparent;
    border: none;
}

::placeholder {
  font-family: 'Arita-buri-SemiBold', serif;
  color: #000000;
}

.form-email, .form-password{
    border-bottom: 2px solid #ffffff;
    padding-top: 2vh;
}

label.boolean.optional.checkbox{
  margin-top: 0.5vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

input.boolean.optional {
  margin-right: 0.2vw;
}

.boolean.optional.checkbox{
  font-size: 2vh;
}

.form-actions{
    width: 21.6vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.58);
    line-height: 4.6vh;
    color: #fff;
    font-size: 2.3vh;
    font-weight: lighter;
    margin: 2vh 0 2vh 0;
    cursor: pointer;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_btn {
  font-family: 'Arita-buri-SemiBold', serif;
  color: white ;
  border: none;
  background: none;
  cursor: pointer;

}

input.form-lists{
  width: 21.6vw;
  height: 5vh;
  border: solid 1px #000000;
  margin-bottom: 2vh;
  background-color: rgba(0,0,0,0);


  font-family: 'Arita-buri-SemiBold', serif;
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-size: 2vh;
  font-weight: 700;
  cursor: pointer;
}

.form-lists a{

}

.go_register, .go_login{
  font-size: 1.7vh;
  margin-bottom: 3vh;
}


.forgot_password {
  text-decoration: none;
  color: #000000;
  font-size: 1.7vh;
  margin-top: -6vh;
}

.error_notification{
  display: none;
}
.error {
  display: none;
}
//Sign-Up list

.admit_list_container {
  background: rgba(255,255,255, 0.7);
  width: 30vw;
  height: 70vh;
  text-align: center;
  margin: 17vh 35vw 7.5vh 35vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.admit_list_title {
  font-family: 'Arita-buri-SemiBold', serif;
  font-size: 1.3vw;
}


.admit_list{
  width: 21.6vw;
  height: 40vh;
  margin-top: 2vw;
  font-size: 2.3vh;
  line-height: 4vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admit_m {
 width: 21.6vw;
 height: 5vw;
 text-align: left !important;
}

.admit_m::-webkit-input-placeholder {
  font-size: 1vw;
  opacity: 0.5;
  color: #000000;
}

input[placeholder].admit_m {
  padding: 0.5vw 0 0.3vw 0.5vw ;
  border-bottom: solid 1px black;
}

.admit_list_btn {
  font-family: 'Arita-buri-SemiBold', serif;
  color: #ffffff;
  width: 21.6vw;
  height: 4.8vh;
  background-color: rgba(0, 0, 0, 0.58);
  border: none;
  margin-top: 3vw;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
.admit_bg_img {
  width: 100vw;
  height: 100vh;
  background-blend-mode: hard-light;
  background-image: linear-gradient(117deg, #b8b1b9, #d3bc93), url('bg.png');
}

.admit_container{
    background: rgba(255,255,255, 0.7);
    width: 74.4vw;
    height: 60vh;
    text-align: center;
    margin: 22.5vh 12.8vw 15vh 12.8vw;
    padding-bottom: 5vh;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admit_title{
    font-size: 2vw;
    margin-top: 3vw;
}

.admit_logo{
    margin: 2vh 0 2vh 0 ;
    width: auto;
    height: 5vh;

}

.form-inputs{
    width: 21.6v;
    height: 12vh;
    font-size: 1vh;
    line-height: 4vh;
    margin: 0 20vw 4vw 20vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input, input[placeholder] {
    align-items: center;
    text-align: center;
    background: transparent;
    border: none;
}

::placeholder {
  font-family: 'Arita-buri-SemiBold', serif;
  color: #000000;
}

.form-email, .form-password{
    border-bottom: 2px solid #ffffff;
    padding-top: 2vh;
}



.form-actions{
    width: 60vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.58);
    line-height: 4.6vh;
    color: #fff;
    font-size: 1.5vh;
    font-weight: lighter;
    margin: 2vh 0 2vh 0;
    justify-content: center;
    align-items: center;
}

.user_remember_me {
  border: none;
}

.login_btn, .signin_btn {
  font-family: 'Arita-buri-SemiBold', serif;
  color: white ;
  border: none;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
}

.form-lists{
  width: 60vw;
  height: 4.8vh;
  border: solid 1px #000000;
  margin-bottom: 2vh;
}

.form-lists a{
  width: 10.2vw;
  height: 2.3vh;
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-size: 2vh;
  font-weight: 700;
}

.go_register, .go_login{
  font-size: 1.7vh;
  margin-bottom: 3vh;
}


.forgot_password {
  text-decoration: none;
  color: #000000;
  font-size: 1.7vh;
  margin-top: -6vh;
}

//Sign-Up list

.admit_list_container {
  background: rgba(255,255,255, 0.7);
  width: 30vw;
  height: 70vh;
  text-align: center;
  margin: 17vh 35vw 7.5vh 35vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.admit_list_title {
  font-family: 'Arita-buri-SemiBold', serif;
  font-size: 1.3vw;
}


.admit_list{
  width: 21.6vw;
  height: 40vh;
  margin-top: 2vw;
  font-size: 2.3vh;
  line-height: 4vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admit_m {
 width: 21.6vw;
 height: 5vw;
 text-align: left !important;
}

.admit_m::-webkit-input-placeholder {
  font-size: 1vw;
  opacity: 0.5;
  color: #000000;
}

input[placeholder].admit_m {
  padding: 0.5vw 0 0.3vw 0.5vw ;
  border-bottom: solid 1px black;
}

.admit_list_btn {
  font-family: 'Arita-buri-SemiBold', serif;
  color: #ffffff;
  width: 21.6vw;
  height: 4.8vh;
  background-color: rgba(0, 0, 0, 0.58);
  border: none;
  margin-top: 3vw;
  cursor: pointer;
}
}
