.admit_bg_img {
    margin-top: -15vh;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(124deg, #b8b1b9, #d3bc93), url('bg.png');
    background-size: cover;
    background-blend-mode: hard-light;
}

.admit_container{
    background: rgba(255,255,255, 0.7);
    width: 30vw;
    height: 70vh;
    text-align: center;
    margin: 17vh 35vw 7.5vh 35vw;
    padding-bottom: 5vh;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#admit_title{
    font-size: 2vw;
}

.admit_logo{
    margin: 2vh 0 2vh 0 ;
}

#admit_logo{
    width: auto;
    height: 5vh;
}

.form-inputs{
    width: 21.6vw;
    height: 12vh;
    font-size: 2.3vh;
    line-height: 4vh;
    margin-bottom: 4vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input, input[placeholder] {
    text-align: center;
    background: transparent;
    border: none;
}

::placeholder {
  font-family: 'Arita-buri-SemiBold', serif;
  color: #000000;
}

.form-email, .form-password{
    border-bottom: 2px solid #fffff;
    padding-top: 2vh;
}



.form-actions{
    width: 21.6vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.58);
    line-height: 4.6vh;
    color: #fff;
    font-size: 2.3vh;
    font-weight: lighter;
    margin: 2vh 0 2vh 0;
}

.login_btn, .signin_btn {
  font-family: 'Arita-buri-SemiBold', serif;
  color: white ;
  border: none;
  background: none;
  cursor: pointer;
}

.form-lists{
  width: 21.6vw;
  height: 4.8vh;
  border: solid 1px #000000;
  margin-bottom: 2vh;
}

.form-lists a{
  width: 10.2vw;
  height: 2.3vh;
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-size: 2vh;
  font-weight: 700;
}

.go_register, .go_login{
  font-size: 1.7vh;
  margin-bottom: 3vh;
}


.forgot_password {
  text-decoration: none;
  color: #000000;
  font-size: 1.7vh;
  margin-top: -6vh;
}

@media screen and (max-width: 768px) {
.admit_bg_img {
  width: 100vw;
  height: 100vh;
  background-blend-mode: hard-light;
  background-image: linear-gradient(117deg, #b8b1b9, #d3bc93), url('bg.png');
}

.admit_container{
    background: rgba(255,255,255, 0.7);
    width: 74.4vw;
    height: 63vh;
    text-align: center;
    margin: 22.5vh 12.8vw 15vh 12.8vw;
    padding-bottom: 5vh;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#admit_title{
    font-size: 2vw;
}

.admit_logo{
    margin: 2vh 0 2vh 0 ;
}

#admit_logo{
    width: auto;
    height: 5vh;
}

.form-inputs{
    width: 21.6vw;
    height: 12vh;
    font-size: 2.3vh;
    line-height: 4vh;
    margin-bottom: 4vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input, input[placeholder] {
    text-align: center;
    background: transparent;
    border: none;
}

::placeholder {
  font-family: 'Arita-buri-SemiBold', serif;
  color: #000000;
}

.form-email, .form-password{
    border-bottom: 2px solid #fffff;
    padding-top: 2vh;
}



.form-actions{
    width: 21.6vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.58);
    line-height: 4.6vh;
    color: #fff;
    font-size: 1.5vh;
    font-weight: lighter;
    margin: 2vh 0 2vh 0;
}

.login_btn, .signin_btn {
  font-family: 'Arita-buri-SemiBold', serif;
  color: white ;
  border: none;
  background: none;
  cursor: pointer;
}

.form-lists{
  width: 21.6vw;
  height: 4.8vh;
  border: solid 1px #000000;
  margin-bottom: 2vh;
}

.form-lists a{
  width: 10.2vw;
  height: 2.3vh;
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-size: 2vh;
  font-weight: 700;
}

.go_register, .go_login{
  font-size: 1.7vh;
  margin-bottom: 3vh;
}


.forgot_password {
  text-decoration: none;
  color: #000000;
  font-size: 1.7vh;
  margin-top: -6vh;
}


}
