
/*landing page - tape*/

#main_web {
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    padding: 5vh 6vw 10vh 6vw;
}
#main_container_mob {
  display: none;
}

/* tab */

.main_tab{
  margin-top: 35vw;
  position: absolute;
}
.tabs_main {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
  width: 30vw;
  margin-left: -9vw;
  position: absolute;
}
.tabs_main label {
 width:33.3%;
 order: 1;
 display: block;
 padding:15px 0px;
 text-align:left;
 cursor: pointer;
 background: white;
 color: lightgray;
 font-size: 1vw;

}

/*박스배경*/
.tabs_main .tab_main {
  order: 99;
  flex-grow: 1;
  width: 100%;
  margin-top: -32vw;
  display: none;
  background: white;
  position: absolute;
}
.tabs_main input[type="radio"] {
  display: none;
}
.tab_main{
  margin-top: 1.3vw;
}
.tabs_main label{
  border-bottom: 1px solid lightgray;
}

/*탭 눌렀을때 컬러*/
.tabs_main input[type="radio"]:checked + label {
  // background: white;
  color: black;
  border-bottom: 1px solid;
}
.tabs_main input[type="radio"]:checked + label + .tab_main {
  display: block;
}

.tab-info_btn{
  border: 1px solid black;
  border-radius: 10vw;
  display: inline;
  padding: 0.5vw 1.5vw;
  font-size: 0.8vw;
  position: absolute;
  margin-top: 4vw;
}
.tab-info_subject{
  margin-top: 9vw;
  font-size: 4vw;
  position: absolute;
}
.tab-info_article{
  margin-top: 16vw;
  font-size: 0.9vw;
  line-height: 1.6vw;
  position: absolute;
}
.tab-info_img{
  position: absolute;
  margin-top: -2vw;
  margin-left: 40vw;
  width: 23vw;
}
.tab-info_img_daily{
  position: absolute;
  margin-top: -1vw;
  margin-left: 40vw;
  width: 24vw;
}



// 로그인 했을 때
.main_container{
  display: flex;
}


.main_title_container{
  flex-grow: 1;
}

.main_title{

}

.main_tape_container{
 flex-grow: 2;
}

.logo_text{
  font-weight: bold;
  flex-grow: 1;
}

@media all and (max-width : 768px) {
  #main_web {
    display: none;
  }
  #main_container_mob {
    display: block;
  }
  .img_mob {
    margin: 5vw 0vw;
    width: 100vw;
    height: 60vw;
    font-family: 'Arita-buri-SemiBold', serif;
  }
  #tab-info_img_mob {
    margin: 0.4vw 5vw;
    width : 90vw;
    height: 58.23vw;
  }

  .btn_mob {
    margin: 0vw 44vw;
    margin-bottom: 5vw;
    display: flex;
    justify-content: space-between;
  }
  
  .dot {
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    background-color: #bbb;
  }
  
  .dot.active {
    background-color: black;
  }

  .tab_info_btn_mob {
    border: 1px solid black;
    border-radius: 10vw;
    display: inline-block;
    padding: 2.5vw 7.5vw;
    font-size: 4vw;
    margin: 0vw 6.1vw 8vw 6.1vw;
  }
  .tab_mob {
    height: 50vw;
    display: flex;
    flex-direction: column;
  }
  
  .tab_subtitle_mob {
    margin: 0vw 6.1vw 1.8vw 6.1vw;
    display: block;
  }
  #tab_title_mob {
    margin: 0vw 6.1vw;
    font-size: 8vw;
    padding-bottom: 3.6vw;
    border-bottom: 0.5px solid #939499;
  }
  #tab_article_mob {
    margin: 4vw 6.1vw;
    font-size: 3.2vw;
    line-height: 6vw;
  }
  #main_mob2 {
    display: none;
  }
  #main_mob3 {
    display: none;
  }
}