// Place all the styles related to the my_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_img{
  position: relative;
  margin-top: 5vw;
  margin-left: 29vw;
  width: 10vw;
  border-radius: 10vw;
}
.profile_article{
  position: absolute;
  margin-top: -9.5vw;
  margin-left: 43vw;
}
.profile_top{
  padding-bottom: 1.7vw;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}
.nickname{
  font-size: 1.5vw;
}
.profile_edit_btn{
  margin-left: 3vw;
  border: 1px solid;
  border-radius: 50px;
  padding: 0.4vw 1.2vw;
  font-family: 'Arita-buri-SemiBold', serif;
  font-size: 0.9vw;
  cursor: pointer;
}
.post_count{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  font-size: 1vw;
  padding-bottom: 1.5vw;
}
.post_count div{
  margin-left: -2.2vw;
}
.user_intro{
  font-size: 1vw;
}


/* tab */

.mypage_tab{
  margin-top: 4vw;
}
.tabs {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
  width: 55vw;
  margin: auto;
}
.tabs label {
 width:33.3%;
 order: 1;
 display: block;
 padding:10px 0px;
 text-align:center;
 cursor: pointer;
 background: white;
 color: lightgray;
 font-size: 1vw;
}

/*박스배경*/
.tabs .tab {
 order: 99;
 flex-grow: 1;
 width: 100%;
 display: none;
 padding: 1vw;
 background: white;
}
.tabs input[type="radio"] {
 display: none;
}
.tab{
  margin-top: 1.3vw;
}
.tabs label{
  border-top: 1px solid lightgray;
}

/*탭 눌렀을때 컬러*/
.tabs input[type="radio"]:checked + label {
 background: white;
 color: black;
 border-top: 1px solid;
}
.tabs input[type="radio"]:checked + label + .tab {
 display: block;
}




/* 테이프 탭 */
.user_tape{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	align-content: flex-start;
  margin-bottom: 0.5vw;
}

/* 테이프 테마 */
.upload_tape{
  position: relative;
  width: 17vw;
}
.blend_box{
  position: absolute;
  width: 15vw;
  height: 9vw;
  background-color: blue;
  margin-top: 0.5vw;
  margin-left: 1vw;
  opacity: 0.1;
}
.user_cover{
  position: absolute;
  margin-top: 0.5vw;
  margin-left: 1vw;
  width: 15vw;
  height: 9vw;
}
.tape_title{
  position: absolute;
  width: 18vw;
  margin-top: -9.8vw;
  text-align: center;
  color: black;
  font-size: 0.9vw;
}

/* 플레이리스트 탭 */
.playlist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-start;
}
.rec-music{
  width: 48%;
  text-align: center;
  border: 1px solid lightgray;
  padding: 2vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  font-size: 1vw;
}


/* 모바일 */

@media all and (max-width : 768px) {

  .profile_img{
    position: relative;
    margin-top: 7vw;
    margin-left: 7vw;
    width: 25vw;
    border-radius: 15vw;
  }
  .profile_article{
    position: absolute;
    margin-top: -20vw;
    margin-left: 38vw;
  }
  .profile_top{
    padding-bottom: 5vw;
    display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	justify-content: flex-start;
  	align-items: center;
  	align-content: stretch;
  }
  .nickname{
    font-size: 4.5vw;
  }
  .profile_edit_btn{
    margin-left: 8vw;
    border: 1px solid;
    border-radius: 50px;
    padding: 0.5vw 2.5vw;
    font-family: 'Arita-buri-SemiBold', serif;
    font-size: 0.9vw;
    cursor: pointer;
  }
  .post_count{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    font-size: 3vw;
    padding-bottom: 1.5vw;
  }
  .post_count div{
    margin-left: -2.2vw;
  }
  .user_intro{
    font-size: 3vw;
    margin-top: 10vw;
    margin-left: -30vw;
    margin-bottom: 10vw;
    width: 85vw;
    line-height: 6vw;
  }

  /* tab */
  .mypage_tab{
    margin-top: 23vw;
  }
  .tabs {
    display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: center;
  	align-items: flex-start;
  	align-content: center;
    width: 100vw;
    margin: auto;
  }
  .tabs label {
   width:33.3%;
   order: 1;
   display: block;
   padding:10px 0px;
   text-align:center;
   cursor: pointer;
   background: white;
   color: lightgray;
   font-size: 3vw;
  }

  /*박스배경*/
  .tabs .tab {
   order: 99;
   flex-grow: 1;
   width: 100%;
   display: none;
   padding: 1vw;
   background: white;
  }
  .tabs input[type="radio"] {
   display: none;
  }
  .tab{
    margin-top: 4vw;
  }
  .tabs label{
    border-top: 1px solid lightgray;
  }

  /*탭 눌렀을때 컬러*/
  .tabs input[type="radio"]:checked + label {
   background: white;
   color: black;
   border-top: 1px solid;
  }
  .tabs input[type="radio"]:checked + label + .tab {
   display: block;
  }

  /* 테이프 탭 */
  .user_tape{
    display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: center;
  	align-items: flex-end;
  	align-content: flex-start;
    margin-bottom: 1vw;
  }

  /* 테이프 테마 */
  .upload_tape{
    position: relative;
    width: 45vw;
  }
  .blend_box{
    position: absolute;
    width: 41vw;
    height: 25vw;
    background-color: blue;
    margin-top: 1.7vw;
    margin-left: 1.4vw;
    opacity: 0.1;
  }
  .user_cover{
    position: absolute;
    margin-top: 1.7vw;
    margin-left: 1.4vw;
    width: 41vw;
    height: 24vw;
  }
  .tape_title{
    position: absolute;
    width: 18vw;
    margin-top: -26.5vw;
    margin-left: 14vw;
    text-align: center;
    color: black;
    font-size: 2.5vw;
  }

  /* 플레이리스트 탭 */
  .playlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-start;
  }
  .rec-music{
    width: 90vw;
    text-align: center;
    border: 1px solid lightgray;
    padding: 2vw;
    margin-bottom: 2vw;
    margin-left: 4vw;
    font-size: 3vw;
  }
}
