// tapes/index & 공통 레이어

.main_tape_container,
.post_tape_container {
  display: flex;
  justify-content: space-between;
}

.main_title_container {
  width: 20vw;
  height: 85vh;
  padding: 25vh 5vw;
}

.main_title {
  margin: 6vh 4vw 4vh;
  width: 2vw;
  // height: 25vh;
}

h1 .main_title {
  font-size: 2vw;
}

.post_tape_section,
.total_tape {
  width: 60vw;
  // height: 85vh;
}

.total_intro {
  width: 50vw;
  margin-top: 3vw;
  padding-left: 4vw;
  font-size: 1vw;
}

.total_tape_container {
  width: 60vw;
  height: 50vw;
  padding: 0;
  margin-top: 1vw;
  position: absolute;

  display: flex;
  align-items: space-around;
  justify-content: center;
  flex-flow: column wrap;
  align-content: center;
}

.tape_theme_main {
  width: 17vw;
  margin: 0.3vw 0.5vw 0.3vw 0.5vw;
}
.upload_tape_main {
  position: relative;
  width: 17vw;
}

.blend_box_main {
  position: absolute;
  width: 15.5vw;
  height: 9vw;
  background-color: blue;
  margin-top: 0.5vw;
  margin-left: 1vw;
  opacity: 0.1;
}
.user_cover_main {
  position: absolute;
  margin-top: 0.5vw;
  margin-left: 1vw;
  width: 15vw;
  height: 9vw;
}
.tape_title_main{
  position: absolute;
  width: 18vw;
  margin-top: -9.8vw;
  text-align: center;
  color: black;
  font-size: 0.9vw;
}

.logo_03_container {
  width: 20vw;
  height: 85vh;
  padding: 73vh 5vw 5vh 12vw;
}

.logo_03_txt {
  width: 3vw;
  height: 7vh;
  font-size: 1vw;
}
// tapes/index  ****************************************************


// tapes/new    ****************************************************
.post_tape_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_tape_preview {
  margin-top: 7vh;
  width: 50vw;
  height: 15vw;
  border: solid 0.5px #c8c4c4;
  background-image: url("navbg.png");
  object-fit: fill;

  display: flex;
  justify-content: center;
  // padding: 3vw 15vw 3vw 15vw;
}


.btn_left {
  width: 2vw;
  padding-top: 8vw;

  img{
    width: 2vw;
  }
// .previous {
//   position: relative;
//   width: 4vw;
//   z-index: 1;
// }
}

.btn_right{
  width: 2vw;
  padding-top: 8vw;
  // .next{
  //   width:4vw;
  //   z-index: 1;
  // }
  img{
    width: 2vw;
  }
}


.tape_preview{
  width: 20vw;
  margin: 2.5vw 6vw 0 6vw;

  img {
    width: 20vw;
  }
}


.post_tape_form {
  width: 50vw;
  margin-top: 1vw;
  margin-bottom: 3vw;
  border: 0.5px solid #c8c4c4;
  background-image: url("navbg.png");
  object-fit: fill;
}




//// _form

.tape_form_container {
  width: 35vw;
  margin: 1.5vw 7.5vw 0 7.5vw;
}

// TITLE

.tape_title_container {
  font-size: 1.2vw;
  margin-bottom: 2vh;
}

label {
  .title {
    // font-size: 1vh;
    border-style: none !important;
  }

  .tape_img {
    // font-size: 1vh;
  }
}

.input_title {
  border: 0.07vw solid #787878;
  border-radius: 0.3vw;
  width: 15vw;
  margin-top: 0.3vw;
}

.form-control::-webkit-input-placeholder {
  font-size: 1vw;
  color: #c8c4c4;
}

// input.form-control {
//   width: 15vw;
//   text-align: left;
// }

input[placeholder].form-control {
  font-size: 1vw;
  width: 15vw;
  text-align: left !important;
  padding: 0.3vw 0.5vw 0.3vw 0.5vw;
}


// IMAGE

.tape_img_container {
  font-size: 1.2vw;
  margin-bottom: 1vw;
}

.input_img {
  border: 0.07vw solid #787878;
  border-radius: 0.3vw;
  width: 15vw;
  margin-top: 0.3vw;
  font-size: 1vw;
  color: #c8c4c4;
  padding: 0.3vw 0.5vw 0.3vw 0.5vw;
}

.img_up {
  width: 0;
}


// FILTER

.tape_filter_container {
  margin-bottom: 1vw;

}

.filter_index{
  font-size: 1.2vw;
  margin-bottom: 0.7vw;
}

.filter_box {
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
  margin: 0.3vw 0 1vw 0;
  padding-right: 3vw;
}

// .filter{
//
//   input[type="checkbox"] {
//     background-color: transparent;
//     cursor: pointer;
//   }
//
// }


 // TRACK

 .tape_music_container {
   margin-bottom: 1.5vw;
 }

 .tape_music {
   font-size: 1.2vw;
   margin-bottom: 0.5vw;
 }

.track{  //hr
  width: 35vw;
  float: left;
  height: 0.05vw;
  border-width: 0;
  margin-top: 0;
  background-color:#454545;
}

.tape_record {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5vw;
}

.side_a, .side_b {
  font-size: 1vw;
}


.a_list_container,
.b_list_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list_a,
.list_b {
  width: 11vw;
  height: 1.5vw;
}

input[placeholder].list_a, input[placeholder].list_b{
  border: 0.07vw solid #787878 !important;
  text-align:left;
  font-size: 1vw;
  margin-top: 0.5vw;
  padding-left: 0.3vw;
  border-radius: 0.3vw;
}

.list_a::-webkit-input-placeholder, .list_b::-webkit-input-placeholder
 {
  color: #c8c4c4;
}




///

.save_tape {
  margin: 1vw 0 1vw 0;
}


/// Tape Preview Box

.tape_preview_box{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  margin-top: 1.5vw;
}

#tape_preview_div{
  width: 17vw;
  height: 19vh;
  background-image: url(/assets/tapeskin_black.png);
  background-size: 17vw;
}

.tape_preview_btns{
  margin-top: 0.5vw;
}
