
.main_tape_container {
  display: flex;
  justify-content: space-between;
}

.main_title_container {
  width: 20vw;
  height: 85vh;
  padding: 25vh 5vw 25vh 5vw;
}

h1 {
  writing-mode: vertical-lr;
  font-size: 2.7vh;
}

.main_title {
  width: 5vw;
  height: 20vh;
  line-height: 10vh;
}

.total_tape {
  width: 60vw;
  height: 85vh;
}

.totla_intro {
  width: 50vw;
  height: 5vh;
  margin-top: 5vh;
  padding-left: 6vw;
  font-size: 1.5vh;
}

.total_tape_container {
  width: 60vw;
  height: 70vh;
  padding: 0 2.5vw 0 2.5vw;
  position: absolute;

display: flex;
align-items: center;
justify-content: center;
flex-flow: column wrap;
align-content: center;

}

.tape_1 {
  width: 15vw;
  height: 12.5vh;
  border: 1px solid ;
  margin: 1vw 1vh 1vw 1vh;
}

.small_logo_03 {
  width: 20vw;
  height: 85vh;
}
