<head>

</head>
<h1 class="main_title">데일리 뮤직</h1>
  <section class="total_daily">
    <p class="total_intro">당신의 플레이리스트와 꼭 맞는 유저들의 오늘의 음악이에요.</p>
    <div class="daily_1">
      <img src="" class="daily_img">
      <div class="daily_tape_title"></div>
    </div>
    <div class="daily_1">
      <img src="" class="daily_img">
      <div class="daily_tape_title"></div>
    </div>
    <div class="daily_1">
      <img src="" class="daily_img">
      <div class="daily_tape_title"></div>
    </div>
    <div class="daily_1">
      <img src="" class="daily_img">
      <div class="daily_tape_title"></div>
    </div>
    <div class="daily_1">
      <img src="" class="daily_img">
      <div class="daily_tape_title"></div>
    </div>
    <div class="daily_1">
      <img src="" class="daily_img">
      <div class="daily_tape_title"></div>
    </div>
    <div class="daily_1">
      <img src="" class="daily_img">
      <div class="daily_tape_title"></div>
    </div>
    <div class="daily_1">
      <img src="" class="daily_img">
      <div class="daily_tape_title"></div>
    </div>
    <div class="daily_1">
      <img src="" class="daily_img">
      <div class="daily_tape_title"></div>
    </div>
    <div class="daily_1">
      <img src="" class="daily_img">
      <div class="daily_tape_title"></div>
    </div>
    <div class="daily_1">
      <img src="" class="daily_img">
      <div class="daily_tape_title"></div>
    </div>
    <div class="daily_1">
      <img src="" class="daily_img">
      <div class="daily_tape_title"></div>
    </div>
  </section>

  <!-- hover
      <div class="daily_contents">
        <p class="daily_song_name"><%= daily.music %></p>
        <p class="daily_singer_name"><%= daily.singer %></p>

        <p class="daily_contents_article"><%= daily.content %></p>
        <% @users.each do |user| %>
          <%if user.id==daily.user_id %>
            <p class="daily_nickname">by <%= user.name %></p>
          <% end %>
        <% end %>
      </div>
  hover -->
