
<section class="view_container_daily">

  <section class="nav_daily">
    <h1 class="title_daily">데일리 뮤직</h1>
  </section>
  
  <section class="body_daily">
    <p class="intro_daily">당신의 플레이리스트와 꼭 맞는 유저들의 오늘의 음악이에요.</p>
    
    <div class="daily_card_container">
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img"></div>
      </div>
    </div>

  </section>
  
  <section class="ad_daily">
    <p class="logo_daily">늘어진<br>카세트<br>테이프</p>
  </section>

</section>

