<!-- Daily_Card -->

<section class="view_container_daily">

  <section class="nav_daily">
    <h1 class="title_daily">데일리 뮤직</h1>
  </section>
  
  <section class="body_daily">
    <p class="intro_daily">당신의 플레이리스트와 꼭 맞는 유저들의 오늘의 음악이에요.</p>
    
    <div class="daily_card_container">
      <a id="card1" class="daily_card">
          <!-- <!— 사용자 데일리의 컬러 —> -->
          <div class="daily_card_color">
          <!-- <!— 사용자 데일리의 제목 —> -->
            <p class="daily_card_title">우리는 지금 어디에</p>
          </div>
          <div class="daily_card_img_box">
            <!-- <!— 사용자 데일리의 이미지 —> -->
            <img class="daily_card_img" src="/assets/daily_ex.jpg"></img>
          </div>

      </a>
      <a id="card2" class="daily_card">
          <!-- <!— 사용자 데일리의 컬러 —> -->
          <div class="daily_card_color">
          <!-- <!— 사용자 데일리의 제목 —> -->
            <p class="daily_card_title">잔망속에서</p>
          </div>
          <div class="daily_card_img_box">
            <!-- <!— 사용자 데일리의 이미지 —> -->
            <img class="daily_card_img" src="/assets/daily_ex.jpg"></img>
          </div>
      </a>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img_box"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img_box"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img_box"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img_box"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img_box"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img_box"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img_box"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img_box"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img_box"></div>
      </div>
      <div class="daily_card">
        <div class="daily_card_color"></div>
        <div class="daily_card_img_box"></div>
      </div>
    </div>

  </section>
  
  <section class="ad_daily">
    <p class="logo_daily">늘어진<br>카세트<br>테이프</p>
  </section>

 

</section>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal_container">
    <span class="close">&times;</span>
    <!-- <!— 사용자 데일리의 컬러 (모달) —> -->
    <div class="daily_color_modal">
      <!-- <!— 사용자 데일리의 제목 (모달) —> -->
      <p class="daily_title_modal">우리는 지금 어디</p>
    </div>
    <div class="daily_img_box_modal">
      <!-- <!— 사용자 데일리의 사진 (모달) —> -->
      <img class="daily_img_modal" src="/assets/daily_ex.jpg">
    </div>
    <div class="user_context_modal">
      <!-- <!— 사용자 데일리의 노래 제목, 가수 (모달) —> -->
      <p class="daily_song_modal">잘 가요 로맨스 - 박선주</p>
      
      <input type="image" id="rec_btn" alt="rec"
           src="/assets/rec_btn_black.png" onclick="document.getElementById('rec_btn').src='/assets/rec_btn_red.png'">
      
      <!-- <!— 사용자 데일리의 텍스트내용1 (모달) —> -->
      <p class="daily_text">랜덤 재생 모드로 음악을 듣다가 어느 순간 박선주의 ‘잘가요 로맨스’가 나온다. 전주 뒤에 첫 단어를 박선주가 노래하자마자 나는 도쿄의 좁디 좁은 호텔방에 누워있다. 그저 하얀 침대커버 왼쪽 모서리에 베개도 안 베고 오른쪽으로 돌아누운 채로 
      </p> 
    </div>
    <div class="user_context_modal2">
      <!-- <!— 사용자 데일리의 텍스트내용1 (모달) —> -->
      <p class="daily_text2">바로 앞에 있는 나무 합판으로 만들어진 책상을 응시하고 있다. 온도는 반팔을 입고 있기에 딱 적당한 것 같은 온도, 창문 앞에 있는 싸구려 히터가 털털털 돌아가고 있는 것 같고, 건조한 것 같은 화장실은 살짝 문이 열려있다. 그냥 그렇게 있다.</p>
      
      <div class="by_user_nick_box">
        <span>by</span>
        <!-- <!— 사용자 데일리의 닉네임 (모달) —> -->
        <p class="daily_user_nick">피가로</p>
      </div>
     
    </div>

  </div>

</div>

<!-- The Modal2 -->
<div id="myModal2" class="modal">

  <!-- Modal content -->
  <div class="modal_container">
    <span class="close">&times;</span>
    <!-- <!— 사용자 데일리의 컬러 (모달) —> -->
    <div class="daily_color_modal">
      <!-- <!— 사용자 데일리의 제목 (모달) —> -->
      <p class="daily_title_modal">잔망속에서</p>
    </div>
    <div class="daily_img_box_modal">
      <!-- <!— 사용자 데일리의 사진 (모달) —> -->
      <img class="daily_img_modal" src="/assets/daily_ex.jpg">
    </div>
    <div class="user_context_modal">
      <!-- <!— 사용자 데일리의 노래 제목, 가수 (모달) —> -->
      <p class="daily_song_modal">잘 가요 로맨스 - 박선주</p>
      
      <input type="image" id="rec_btn2" alt="rec"
           src="/assets/rec_btn_black.png" onclick="document.getElementById('rec_btn2').src='/assets/rec_btn_red.png'">
      
      <!-- <!— 사용자 데일리의 텍스트내용1 (모달) —> -->
      <p class="daily_text">랜덤 재생 모드로 음악을 듣다가 어느 순간 박선주의 ‘잘가요 로맨스’가 나온다. 전주 뒤에 첫 단어를 박선주가 노래하자마자 나는 도쿄의 좁디 좁은 호텔방에 누워있다. 그저 하얀 침대커버 왼쪽 모서리에 베개도 안 베고 오른쪽으로 돌아누운 채로 
      </p> 
    </div>
    <div class="user_context_modal2">
      <!-- <!— 사용자 데일리의 텍스트내용1 (모달) —> -->
      <p class="daily_text2">바로 앞에 있는 나무 합판으로 만들어진 책상을 응시하고 있다. 온도는 반팔을 입고 있기에 딱 적당한 것 같은 온도, 창문 앞에 있는 싸구려 히터가 털털털 돌아가고 있는 것 같고, 건조한 것 같은 화장실은 살짝 문이 열려있다. 그냥 그렇게 있다.</p>
      
      <div class="by_user_nick_box">
        <span>by</span>
        <!-- <!— 사용자 데일리의 닉네임 (모달) —> -->
        <p class="daily_user_nick">피가로</p>
      </div>
     
    </div>

  </div>

</div>


<script>
// Get the modal
var modal = document.getElementById('myModal');
var modal2 = document.getElementById('myModal2');


// Get the button that opens the modal
// var btn = document.getElementById("myBtn");
var cardbtn = document.getElementById("card1");
var cardbtn2 = document.getElementById("card2");




// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
var span2 = document.getElementsByClassName("close")[1];

// When the user clicks on the button, open the modal 
//btn.onclick = function() {
//   modal.style.display = "block";
//}
cardbtn.onclick = function() {
  modal.style.display = "block";
}
cardbtn2.onclick = function() {
  modal2.style.display = "block";
}





// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
span.onclick = function() {
    modal2.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
        
    }
    else if(event.target == modal2) {
      modal2.style.display = "none";
    } 
}

</script>

