<section class="view_container_daily">

  <section class="nav_daily">
    <h1 class="title_daily">데일리 뮤직</h1>
  </section>

  <section class="body_daily">
    <h3><%= @daily.daily_title %></h3>
    <p><%= @daily.body %></p>
  </section>
  <section class="ad_daily">
    <p class="logo_daily">늘어진<br>카세트<br>테이프</p>
  </section>

</section>
